# Cluster definition for us-east
- kind: cluster
  metadata:
    namespace: system
    name: cluster-us-east
  type: kubernetes
  config:
#    context: cluster-us-east
#    namespace: demo
#    tillernamespace: kube-system

    kubeconfig:
      PUT_KUBE_CONFIG_FOR_CLUSTER_HERE

# Cluster definition for us-west
- kind: cluster
  metadata:
    namespace: system
    name: cluster-us-west
  type: kubernetes
  config:
    kubeconfig:
      PUT_KUBE_CONFIG_FOR_CLUSTER_HERE
