apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: "redis-master-{{ .Discovery.Bundle.InstanceId }}"
spec:
  selector:
    matchLabels:
      app: redis
      role: master
      tier: backend
      instance: "{{ .Discovery.Bundle.InstanceId }}"
  replicas: 1
  template:
    metadata:
      labels:
        app: redis
        role: master
        tier: backend
        instance: "{{ .Discovery.Bundle.InstanceId }}"
    spec:
      containers:
      - name: master
        image: k8s.gcr.io/redis:e2e
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 6379
